{% from "bootstrap/form.html" import render_field %}
{% extends "structure/api_layout.html" %}

{% block title %} Organisations {% endblock title %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ url_for('index') }}">Home</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('api') }}">API</a></li>
    <li class="breadcrumb-item active" aria-current="page">Organisation</li>
  </ol>
</nav>

<div class="flex-row">
  <div class="row">
    <div class="col-md-auto">
      <h2> Organisations | API </h2>
    </div>
    <div class="col">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newOrganisation">+</button>
    </div>
  </div>
</div>

<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Description</th>
    <th scope="col">Site</th>
    <th scope="col">Location</th>
    <th scope="col">Added</th>
    <th scope="col">Changed</th>
    <th scope="col">Options</th>
  </tr>
  </thead>
  <tbody>
  {% for organisation in organisations %}
  <tr>
    <td>{{organisation.id}}</td>
    <td>{{organisation.name}}</td>
    <td>{{organisation.description}}</td>
    <td>{{organisation.site}}</td>
    <td>{{organisation.location}}</td>
    <td>{{organisation.added}}</td>
    <td>{{organisation.changed}}</td>
    <td>
      <div class="row">
          <a href="{{ url_for('organisation_pages.delete_organisation', organisation_id=organisation.id) }}">
            <button type="button" class="btn btn-danger" value="Delete">&times;</button>
          </a>
          <a href="{{ url_for('organisation_pages.single_organisation', organisation_id=organisation.id) }}">
            <button type="button" class="btn btn-success" value="Delete">✎</button>
          </a>
      </div>
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>

<div class="modal fade" id="newOrganisation" tabindex="-1" aria-labelledby="newOrganisationLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newOrganisationLabel">New Organisation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post">
          {{ form.csrf_token }}
          {{ render_field(form.name) }}
          {{ render_field(form.description) }}
          {{ render_field(form.site) }}
          {{ render_field(form.location) }}
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="newOrganisation">Close</button>
            <button type="submit" class="btn btn-primary" value="Create">Create</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}